/*Animations*/
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.imgpoke{
    border-radius: 50px;
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.imgpoke {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
}


/*rebote imagenes*/
.imagenpokemon:hover{
    position: relative;
    -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-name: rebote;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-out;
  }

  /* Standard syntax */
  @keyframes rebote {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:0px; top:-10px;}
    75%  {left:0px; top:-10px;}
    100% {left:0px; top:0px;}
  }