table{
    cursor: pointer;
    display: inline-block!important;
    width: auto!important;
    border-radius: 5px!important;
    padding: 10px;
    background: #212529;
    text-align:left;
}
th{
background: white;
}

.text_div_info{
    font-size: 12px;
}

.text_div_info > div > p{
    margin: 0;
    padding: 0;
}


